<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h2 class="text-center text-primary">BMI Calculator</h2>
    <div class="row">
      <div class="col-lg-6 col-6 text-center">
        <div
          class="bg-danger"
          style="border-radius: 25px; cursor: pointer"
          [ngClass]="{ 'text-info': generoActual == 'Masculino' }"
          (click)="isMale(true)"
        >
          <i class="fa-solid fa-mars fa-beat-fade fa-5x"></i>
          <p class="text-center">Masculino</p>
        </div>
      </div>
      <div class="col-lg-6 col-6 text-center">
        <div
          class="bg-body-tertiary"
          [ngClass]="{ 'text-info': generoActual == 'Femenino' }"
          style="border-radius: 25px; cursor: pointer"
          (click)="isMale(false)"
        >
          <i class="fa-solid fa-venus fa-fade fa-5x"></i>
          <p class="text-center">Femenino</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="bg-success p-2" style="border-radius: 25px">
          <div class="myContainer">
            <h2>Altura</h2>
            <h4 class="text-info">{{ alturaActual }} CM</h4>
            <input
              type="range"
              [value]="alturaActual"
              min="100"
              max="220"
              (input)="cambiarAltura($event)"
              class="form-range"
            />
            <h5 class="text-body">CM</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-6 col-6">
        <div class="bg-danger p-2" style="border-radius: 25px">
          <div class="myContainer">
            <p>Peso</p>
            <h4 class="text-info">{{ pesoActual }}</h4>
            <div class="row">
              <div class="col-6">
                <button
                  class="btn btn-primary m-2 border-10"
                  (click)="bajarPeso(1)"
                >
                  <i class="fa-solid fa-minus"></i>
                </button>
              </div>
              <div class="col-6">
                <button
                  class="btn btn-dark m-2 border-10"
                  (click)="subirPeso(1)"
                >
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-6">
        <div class="bg-body-tertiary p-2" style="border-radius: 25px">
          <div class="myContainer">
            <p>Edad</p>
            <h4 class="text-info">{{ edadActual }}</h4>
            <div class="row">
              <div class="col-6">
                <button
                  class="btn btn-primary m-2 border-10"
                  (click)="bajarEdad(1)"
                >
                  <i class="fa-solid fa-minus"></i>
                </button>
              </div>
              <div class="col-6">
                <button
                  class="btn btn-dark m-2 border-10"
                  (click)="subirEdad(1)"
                >
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-12 col-12">
        <button
          class="btn btn-primary btn-lg btn-block myBg"
          (click)="calcularBmi()"
        >
          Calcular BMI
        </button>
      </div>
    </div>
  </div>
</div>
